*{
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Fredoka', sans-serif;
  font-weight: 300;
}

body{
background: url('img/background.jpg');
background-size: cover;
background-repeat: no-repeat;
}

.container{
  width: 1000px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  border-radius: 10px;
  margin-top: 20px;
}

header, nav, .navbar{
  width: 100%;
}


.navbar{
  margin: auto;
}

nav{
  text-align: center;
}

main{
  color: white;
  width: 500px;
}

.logo{
  width: 200px;
  margin: auto;
  display: block;
}

.title{
  color: #00dd00;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
}

.navbar{
  background-color: #00dd00;
  height: 40px;
  padding: 10px;
}

.mono-title{
  font-weight: 500;
  font-size: 20px;
}

.mono1, .mono2, .mono3{
  margin-top: 15px;

}

.bar1{
  background-color: #f5b453;
  width: 60%;
  height: 25px;
  border-radius: 5px;
}

.bar2{
  background-color: #1ec31e;
  width: 100%;
  height: 25px;
  border-radius: 5px;
}

.bar3{
  background-color: #be4141;
  width: 30%;
  height: 25px;
  border-radius: 5px;
}

.sign{
  text-align: center;
  font-style:
}

/* colore titolo #00dd00 */
/* colore arancio #f5b453 */
/* colore verde #1ec31e */
/* colore rosso #be4141 */
